<%- include("header") -%>

<h1 class="item" id="heading">About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ea repellat tempora deserunt nam ipsa soluta iure, maiores, quidem voluptatum est facilis aperiam! Soluta impedit culpa hic commodi id natus, porro expedita deleniti sint quam, libero adipisci, nobis ex itaque atque tempora laudantium. Dolores fugit dicta obcaecati laudantium sint repellendus?</p>

<%- include("footer") -%>